<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Todo Page</title>

    <!-- Load Bootstrap dynamically from WebJars -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <h1>Enter ToDo Details</h1>

    <form th:action="@{/add-todo}" th:object="${todo}" method="post">
        <label>Description:</label>
        <input type="text" th:field="*{description}" class="form-control" required>
    
        <!-- Display validation error -->
        <div th:if="${#fields.hasErrors('description')}" class="text-danger">
            <span th:errors="*{description}"></span>
        </div>
    
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{done}">
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
