<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Todos Page</title>
</head>
<body>
<div><h1>Welcome to ToDo Application</h1></div>
<div>Hello, <span th:text="${name}">Guest</span>!</div>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Target Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <!-- Use Thymeleaf for iteration -->
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.description}"></td>
        <td th:text="${todo.targetDate}"></td>
        <td th:text="${todo.done}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
